.container{
    width: 970px;
    background-color:purple;
}

.header{
    width: 100%;
    background-color: white;
}

.header h1{
    margin: 20px;
    display: inline-block;
}

.header h2{
    margin: 0px;
    padding-left: 400px;
    display: inline;
}

.about img{
    width: 350px;
    height: 250px;
    margin: 15px;
    padding: 5px;
    background-color: gray;
    display: inline-block;  
    vertical-align: top;
}

.about_me{
    margin: 15px;
    width: 540px;
    height: 260px;
    background-color: white;
    display: inline-block;
}

.about_me h2{
    margin: 0px;
    background-color: gray;
    color: white;
    padding: 10px;
}

.about_me p{
    margin: 10px;
    padding: 5px;
}

.about_me a{
    margin: 10px;
    padding: 5px 10px 5px 5px;
}

.portfolio{
    width: 289px;
    height: 620px;
    margin: 15px;
    display: inline-block;
    background-color: white;
    vertical-align: top;
}

.portfolio img, .portfolio ul{
    width: 250px;
    padding: 0px;
    margin: 5px;
}

.portfolio h2{
    margin: 0px;
    padding: 10px;
    background-color: gray;
    color: white;
}

.portfolio p{
    width: 250px;
    height: 170px;
    margin: 0px 0px 15px 1px;
}

.icon li{
    display: inline-block;
    margin: 0px;
    padding: 0px;   
}
.icon img{
    width: 35px;
    height: 35px;
}

button{
    background-color: green;
    color: white;
    border-radius: 5px;
    margin: 5px 100px;
    height: 30px;
    width: 100px;
}

.footer{
	width:970px;
    height:50px;
    background-color: white;
}
.footer p{
	margin:auto;
	width: 300px;
}

.footer ul {
	width: 380px;
	margin:auto;
}

.footer ul li {
	display:inline-block;
}

.footer img {
	width: 15px;
	height:auto;
	margin:auto;
}   